<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchDocument.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SearchDocument.Properties.Settings>
            <setting name="SearchPath" serializeAs="String">
                <value>\\172.31.13.11\supervisores 2013\OBJETIVOS MENSUALES\06 ISO 9001 2015\ejemplo doc\</value>
            </setting>
            <setting name="BatFilePath" serializeAs="String">
                <value>C:\\Users\\shiueh\\source\\repos\\SearchDocument\\SearchDocument\\openfile_Foxit.bat</value>
            </setting>
        </SearchDocument.Properties.Settings>
    </userSettings>
</configuration>